@use "../../../scss/mixings" as m;
@use "../../../scss/variables" as v;
.card {
  &__actions--divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: v.$primaryColor;
  }
}

img {
  object-fit: cover;
  width: 100%;
  // max-width: rem;
}
