<mat-sidenav-container fullscreen class="navbar">
  <mat-sidenav class="navbar__side" mode="push" #sidenav>
    <mat-toolbar>
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item
        (click)="sidenav.toggle()"
        *ngFor="let l of siderbarItems"
        [routerLink]="l.url"
        class="navbar__list"
      >
        <mat-icon matListItemIcon>{{ l.icon }}</mat-icon>
        {{ l.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon> menu </mat-icon>
    </button>
    <span class="spacer"></span>
    <span>{{user?.email}}</span>
    <button mat-button (click)="onLogout()">logout</button>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
