<div class="login">
  <span class="login__span">Login</span>
  <mat-form-field class="login__celdas">
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de usuario" />
  </mat-form-field>
  <mat-form-field class="login__celdas">
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onLogin()">
    <mat-icon>save</mat-icon>
    Ingresar
  </button>

  <div class="login__link">
    <a routerLink="/auth/new-account">¿Ya tienes cuenta?</a>
  </div>
</div>
