<h1>
  Editar / Agregar héroe
  <small>Superman</small>
</h1>
<mat-divider></mat-divider>
<div>
  <div>
    <mat-card>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Súper héroe</mat-label>
            <input type="text" matInput required="" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Alter ego</mat-label>
            <input type="text" matInput required="" />
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Primera aparición</mat-label>
          <input type="text" matInput required="" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Personajes</mat-label>
          <input type="text" matInput required="" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Creador</mat-label>
          <mat-select required="">
            <mat-option *ngFor="let p of publishers" [value]="p.id">{{
              p.desc
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
  <div></div>
</div>
